.clientform{
    font-size: xx-large;
}

label{
    font-family: "Seymour One", sans-serif;  
    padding-right: 10px;
    color: #C5B0CD;
}

input{
    font-size: xx-large;
    width: 40%;
    margin: 10px;
}

button{
    font-size: large;
}