ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  font-size: small;
}

li{
    padding-bottom: 15px;
    border-right: 1px burlywood solid;
    padding-left: 30px;
}

.DyeServiceContainer{
    text-align: left;
    padding-bottom: 20px;
    margin: 15px;
}

.PermServiceContainer{
    text-align: left;
    padding-bottom: 20px;
    margin: 15px;
    
}

.WaxServiceContainer{
    text-align: left;
    padding-bottom: 20px;
    margin: 15px;
}


.client-card{
    width: 30%;
    font-size: medium;
}