ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  font-size: small;
}

li{
    padding-left: 10px;
}

.DyeServiceContainer{
    text-align: left;
    padding-bottom: 20px;
}

.PermServiceContainer{
    text-align: left;
    padding-bottom: 20px;
}

.client-card{
    width: 30%;
    font-size: medium;
}